In [4]:
import pandas as pd
from data import load_market_data

In [5]:
df = load_market_data()

df.columns

Index(['open', 'high', 'low', 'close', 'volume', 'amount', 'openInterest',
       'target'],
      dtype='object')

In [7]:
df

,open,high,low,close,volume,amount,openInterest,target
timestamp,,,,,,,,
2025-06-05 20:59:00,2969.0,2969.000000,2969.000000,2969.0,0.0,0.0,0.0,NaN
2025-06-05 20:59:01,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
2025-06-05 20:59:02,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
2025-06-05 20:59:03,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
2025-06-05 20:59:04,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...
2025-06-06 14:59:56,2976.0,29764.687500,29762.000000,2977.0,52.0,1547710.0,-46.0,NaN
2025-06-06 14:59:57,2977.0,29767.280702,29764.285714,2976.0,163.0,4851920.0,-79.0,NaN
2025-06-06 14:59:58,2976.0,29761.190476,29752.542373,2976.0,143.0,4255340.0,-93.0,NaN
2025-06-06 14:59:59,2976.0,29752.708333,29752.518519,2976.0,183.0,5444720.0,-68.0,NaN
2025-06-06 15:00:00,2975.0,29755.925926,29755.925926,2975.0,27.0,803410.0,-1.0,NaN

In [ ]:
df = df.set_index('timestamp')

bars = df['last'].resample('1s').ohlc()

vol = df['volume'].resample('1s').sum().rename('volume')

vwap = (df['last'] * df['volume']).resample('1s').sum() / vol
vwap = vwap.rename('vwap')

bars = bars.join([vol, vwap])

KeyError: 'timestamp'

In [3]:
# volume_skewness, market_temperatur, ask_dominance, bid_dominance

In [5]:
bars

                       open    high     low   close     volume         vwap
timestamp
2025-06-05 20:59:00  2969.0  2969.0  2969.0  2969.0     4205.0  2969.000000
2025-06-05 20:59:01     NaN     NaN     NaN     NaN        0.0          NaN
2025-06-05 20:59:02     NaN     NaN     NaN     NaN        0.0          NaN
2025-06-05 20:59:03     NaN     NaN     NaN     NaN        0.0          NaN
2025-06-05 20:59:04     NaN     NaN     NaN     NaN        0.0          NaN
...                     ...     ...     ...     ...        ...          ...
2025-06-06 14:59:56  2976.0  2977.0  2976.0  2977.0  3689644.0  2976.500003
2025-06-06 14:59:57  2977.0  2977.0  2976.0  2976.0  3689941.0  2976.499993
2025-06-06 14:59:58  2976.0  2976.0  2976.0  2976.0  3690217.0  2976.000000
2025-06-06 14:59:59  2976.0  2976.0  2976.0  2976.0  3690507.0  2976.000000
2025-06-06 15:00:00  2975.0  2975.0  2975.0  2975.0  1845348.0  2975.000000

[64861 rows x 6 columns]