In [1]:
import pandas as pd
from data import load_market_data

In [2]:
df = load_market_data()

df['timestamp'] = pd.to_datetime(df['timestamp'])
df = df.set_index('timestamp')

bars = df['last'].resample('1s').ohlc()

vol = df['volume'].resample('1s').sum().rename('volume')

vwap = (df['last'] * df['volume']).resample('1s').sum() / vol
vwap = vwap.rename('vwap')

bars = bars.join([vol, vwap])

In [3]:
# volume_skewness, market_temperatur, ask_dominance, bid_dominance

In [4]:
bars

                       open    high     low   close     volume         vwap
timestamp
2025-06-05 20:59:00  2969.0  2969.0  2969.0  2969.0     4205.0  2969.000000
2025-06-05 20:59:01     NaN     NaN     NaN     NaN        0.0          NaN
2025-06-05 20:59:02     NaN     NaN     NaN     NaN        0.0          NaN
2025-06-05 20:59:03     NaN     NaN     NaN     NaN        0.0          NaN
2025-06-05 20:59:04     NaN     NaN     NaN     NaN        0.0          NaN
...                     ...     ...     ...     ...        ...          ...
2025-06-06 14:59:56  2976.0  2977.0  2976.0  2977.0  3689644.0  2976.500003
2025-06-06 14:59:57  2977.0  2977.0  2976.0  2976.0  3689941.0  2976.499993
2025-06-06 14:59:58  2976.0  2976.0  2976.0  2976.0  3690217.0  2976.000000
2025-06-06 14:59:59  2976.0  2976.0  2976.0  2976.0  3690507.0  2976.000000
2025-06-06 15:00:00  2975.0  2975.0  2975.0  2975.0  1845348.0  2975.000000

[64861 rows x 6 columns]